<header class="admin__content--header p-2 flex jc-between ai-center">
  <h2>
    <% if local_assigns[:specific_title] %>
      <%= specific_title %>
    <% end %>

    <%= yield :title %>
  </h2>

  <div class="flex ai-center gap-2">
    <% if current_page?(admin_orders_path) %>
      <div class="filter__form" data-controller="filter">
        <%= button_tag "Filter", class: "filter__form--button btn flex ai-center gap-1", data: { action: "click->filter#toggleFilter", filter_target: "button" }, aria: { label: "Filter" } do %>
          <%= render "shared/icon", name: "filter" %>
          <span>Filter</span>
        <% end %>

        <ul class="filter__form--group p-1 radius-lg hidden">
          <li class="filter__form--checkbox flex ai-center py-1">
            <%= check_box_tag 'filters[]', 'fulfilled', false, id: 'filters_fulfilled', class: "filter__form--checkbox__input", data: { filter_target: "checkbox" } %>
            <%= label_tag 'filters_fulfilled', 'Fulfilled', class: "filter__form--checkbox__label pl-1" %>
          </li>
          <li class="filter__form--checkbox flex ai-center py-1">
            <%= check_box_tag 'filters[]', 'unfulfilled', false, id: 'filters_unfulfilled', class: "filter__form--checkbox__input", data: { filter_target: "checkbox" } %>
            <%= label_tag 'filters_unfulfilled', 'Unulfilled', class: "filter__form--checkbox__label pl-1" %>
          </li>
        </ul>
      </div>
    <% end %>

    <%= link_to path, class: "btn btn__primary flex ai-center", aria: { label: title } do %>
      <%= render "shared/icon", name: "plus" %>
      <span><%= title %></span>
    <% end %>
  </div>
</header>