<section class="dashboard admin__content grid gap-2 p-2">
  <h1 class="sr-only">Admin Dashboard</h1>

  <div class="dashboard__quick-stat--container">
    <h2 class="sr-only">Daily Stats</h2>

    <ul class="dashboard__quick-stat--list grid gap-2">
      <% @quick_stats.each do |stat| %>
        <% stat_value = ["Revenue", "Average Sale"].include?(stat[:title]) ? number_to_currency(stat[:value]) : stat[:value] %>

        <li class="dashboard__quick-stat--item p-2 radius-xl">
          <header class="dashboard__quick-stat--item__header flex ai-center jc-between">
            <h2 class="dashboard__subtitle"><%= stat[:title] %></h2>
            <%= render 'shared/icon', name: stat[:icon] %>
          </header>

          <p class="dashboard__quick-stat--item__value"><%= stat_value %></p>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="dashboard__user--chart--container grid gap-2">
    <div class="dashboard__user--chart__users  dashboard__subsection-container p-2 radius-xl">
      <header class="dashboard__user--chart__header mb-1">
        <h2 class="dashboard__subtitle">Users</h2>

        <p class="dashboard__user--chart__total">5, 987</p>

        <span class="dashboard__user--chart__total--description">Total users description</span>
      </header>

      <div>
        Pie Chart Here
      </div>
    </div>
  </div>

  <div class="dashboard__sales--chart--container dashboard__subsection-container p-2 radius-xl">
    <header class="dashboard__sales--chart--header mb-1">
      <h2 class="dashboard__subtitle">Sales</h2>
    </header>
    <% sales_chart_options = { hex_color: '#FF1493', gap: 4, short_numbers: true, prefix: "$ " } %>

    <%= render 'shared/charts/column', data: @sales_data, options: sales_chart_options %>
  </div>

  <div class="dashboard__payment--chart--container grid gap-2">
    <div class="dashboard__payment--chart--invoices dashboard__subsection-container p-2 radius-xl">
    </div>

    <div class="dashboard__payment--chart--funds dashboard__subsection-container p-2 radius-xl">
      <p class="my-3">
        Funds Chart Here
      </p>
    </div>
  </div>

  <div class="dashboard__revenue-chart--container dashboard__subsection-container p-2 radius-xl">
    <header class="dashboard__revenue-chart--header mb-1">
      <h2 class="dashboard__subtitle">Revenue</h2>
    </header>
    <% revenue_chart_options = { show_area: true, short_numbers: true, prefix: "$ " } %>

    <%= render 'shared/charts/line', data: @revenues_by_day, options: revenue_chart_options %>
  </div>

  <div class="dashboard__orders--table dashboard__subsection-container p-2 radius-xl">
    <header class="dashboard__orders--header mb-1 flex ai-center jc-between">
      <h2 class="dashboard__subtitle">Orders</h2>

      <%= link_to "View All", admin_orders_path, class: "dashboard__link" %>
    </header>

    <%= render partial: 'shared/table', locals: { headers: @order_headers, list: @orders, actions: @order_actions } %>
  </div>
</section>