<nav class="admin__nav p-2 flex flex-col gap-1 radius-lg">
  <div class="admin__nav--logo flex ai-center gap-1">
    <a href="<%= root_path %>">
      <img src="https://images.unsplash.com/photo-1615915468538-0fbd857888ca?q=80&w=1968&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Ecom logo" class="admin__nav--logo__image radius-circle">
    </a>

    <h1 class="admin__nav--logo__title flex-col">
      <span>Ecom</span>
      <span>Admin</span>
    </h1>
  </div>

  <% nav_items = [
    { path: admin_path, icon: 'squares', text: 'Dashboard' },
    { path: admin_products_path, icon: 'cart', text: 'Products' },
    { path: admin_categories_path, icon: 'list', text: 'Categories' },
    { path: admin_orders_path, icon: 'truck', text: 'Orders' }
  ] %>

  <ul class="admin__nav--list">
    <% nav_items.each do |item| %>
      <% icon = current_page?(item[:path]) ? "#{item[:icon]}-solid" : item[:icon] %>

      <li class="<%= 'active' if current_page?(item[:path]) %>">
        <%= link_to item[:path], class: "admin__nav--link flex gap-1 ai-center pr-2 radius-md" do %>
          <%= render 'shared/icon', name: icon %>
          <span class="admin__nav--link__text"><%= item[:text] %></span>
        <% end %>
      </li>
    <% end %>
  </ul>

  <%= button_to destroy_admin_session_path, method: :delete, class: "admin__nav--link flex gap-1 ai-center pr-2 radius-md" do %>
    <%= render 'shared/icon', name: 'sign-out-alt' %>
    <span class="admin__nav--link__text">Sign out</span>
  <% end %>
</nav>