<div id="<%= list.first.class.name.downcase.pluralize %>-table" class="table__container radius-xl">
  <table class="table">
    <thead>
      <tr>
        <% headers.each do |header| %>
          <th>
            <% if header == :id %>
              SKU
            <% elsif header == :product_name %>
              Belongs To
            <% elsif header == :fulfilled %>
              Status
            <% else %>
              <%= header.to_s.titleize %>
            <% end %>
          </th>
        <% end %>
      </tr>
    </thead>

    <%= render 'shared/table_footer', col_span: headers.size %>

    <tbody>
      <% specific_attributes = specific_attributes(@table_actions) %>

      <% list.each do |item| %>
        <tr class="table__row table__row--<%= item.class.name.downcase %>" data-fulfilled="<%= item.fulfilled %>">
          <% headers.each do |attribute| %>
            <td class="table__<%= attribute == :image || attribute == :image ? "image--container" : attribute %>">
              <%= specific_attributes[attribute] ? specific_attributes[attribute].call(item) : item.send(attribute) %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>