<% options = local_assigns[:options] || {} %>
<% chart_data = process_chart_data(data, options) %>

<% chart_padding = "--chart-padding: 0 0 2rem #{chart_data[:left_padding]};" %>

<div class="chart__container" style="<%= chart_padding %>">
  <div class="chart flex px-1" style="--bar-gap: <%= chart_data[:bar_gap] %>;">
    <%= render 'shared/charts/grid_lines', chart_data: chart_data %>

    <%# Generate the bars %>
    <% data.each do |bar| %>
      <% bar_height = (bar[1].to_f / chart_data[:highest_value_rounded_up]) * 100 %>
      <% bar_styles = {
        "--bar-height" => "#{bar_height}%",
        "--bar-label" => bar[0],
        "--bar-color" => chart_data[:hex_color],
        "background-color" => chart_data[:bar_bg_color]
      } %>
      <% bar_style_string = bar_styles.map { |key, value| "#{key}: #{value};" }.join(" ") %>

      <div class="chart__bar--container flex-1 radius-pill flex ai-end" style="<%= bar_style_string %>" title="<%= bar[1] %>">
        <p class="chart__bar--label"><%= bar[0] %></p>
      </div>
    <% end %>
  </div>
</div>