<% options = local_assigns[:options] || {} %>
<% chart_data = process_chart_data(data, options) %>

<div class="chart__container">
  <div class="chart chart__line flex">
    <%= render 'shared/charts/grid_lines', chart_data: chart_data %>

    <%= render 'shared/charts/svg_line', data: data, chart_data: chart_data %>

    <%# Generate the lines %>
    <% data.each do |point| %>
      <% point_styles = {
        "--point-x" => "#{(point[0].to_f / chart_data[:highest_value_rounded_up]) * 100}%",
        "--point-y" => "#{(point[1].to_f / chart_data[:highest_value_rounded_up]) * 100}%",
        "--point-color" => chart_data[:hide_points] ? "transparent" : chart_data[:hex_color]
      } %>
      <% point_style_string = point_styles.map { |key, value| "#{key}: #{value};" }.join(" ") %>

      <div class="chart__point--container" style="<%= point_style_string %>" title="<%= point[1] %>">
        <p class="chart__point--label"><%= point[0] %></p>
      </div>
    <% end %>
  </div>
</div>