<p style="color: green"><%= notice %></p>

<% content_for :title, "Categories" %>

<section>
  <div class="container pd-2">
    <header class="flex jc-between ai-center">
      <h1>Categories</h1>

      <%= render 'shared/button', tag: "a", path: new_admin_category_path, text: "New category", type: "primary" %>
    </header>

    <ul id="admin_categories">
      <% @admin_categories.each do |admin_category| %>
        <li class="category__list--item pd-y-2">
          <%= render admin_category %>

          <%= render 'shared/button', tag: "a", path: admin_category_path(admin_category), text: "Show this category", type: "tertiary" %>
          <%= render 'shared/button', tag: "a", path: edit_admin_category_path(admin_category), text: "Edit", type: "tertiary" %>
        </li>
      <% end %>
    </ul>
  </div>
</section>
