<p style="color: green"><%= notice %></p>

<div class="flex jc-center ai-center">
  <div>
    <%= render @admin_category %>

    <%= link_to "Edit this category", edit_admin_category_path(@admin_category) %> |
    <%= link_to "Back to categories", admin_categories_path %>

    <%= button_to "Destroy this category", admin_category_path(@admin_category), method: :delete, class: "btn btn__tertiary radius-md" %>
  </div>
</div>
