<p style="color: green"><%= notice %></p>

<% content_for :title, "Products" %>

<section class="admin__content pd-b-2">
  <%= render 'admin/page_header', path: new_admin_product_path, title: "+ Add New Product" %>

  <div class="pd-x-2">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @admin_products.each do |product| %>
          <tr>
            <td><%= product.name %></td>
            <td class="table__description"><%= product.description %></td>
            <td><%= product.price %></td>
            <td>
              <%= render 'shared/button', tag: "a", path: admin_product_path(product), text: "View", type: "tertiary" %>
              <%= render 'shared/button', tag: "a", path: edit_admin_product_path(product), text: "Edit", type: "tertiary" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
