<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Ecom" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="admin container flex pd-2">
      <nav class="admin__nav pd-2 flex flex-col gap-1">
       <div class="admin__nav--logo flex gap-1">
          <a href="<%= root_path %>">
            <img src="https://images.unsplash.com/photo-1615915468538-0fbd857888ca?q=80&w=1968&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Ecom logo" class="radius-circle">
          </a>

          <h1 class="admin__nav--logo__title">Ecom Admin</h1>
        </div>

        <% nav_items = [
          { path: admin_path, icon: 'dashboard', text: 'Dashboard' },
          { path: admin_path, icon: 'cart', text: 'Products' },
          { path: admin_categories_path, icon: 'categories', text: 'Categories' },
          { path: admin_path, icon: 'orders', text: 'Orders' }
        ] %>

        <ul>
          <% nav_items.each do |item| %>
            <li class="">
              <%= link_to item[:path], class: "admin__nav--link flex gap-1 ai-center pd-y-1" do %>
                <%= render 'shared/icon', name: item[:icon] %>
                <span class="admin__nav--link__text"><%= item[:text] %></span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </nav>

      <%= yield %>
    </main>
  </body>
</html>
